/*
	COLOUR PALETTE

	Blue: #1E426E
	Light Blue: #E8F4F9
	Black: #222222
	NavBar green: #789F4D

	Pi Chart:
	Yellow: #ECD368
	Gray: #666666
	Dark Blue: #12273E
	Green: #77A04D
	Medium Blue: #2A5FA5
*/

body {
	font-family: 'Roboto', sans-serif;
	background-color: #fff;
}

header {
	margin-bottom: 2rem;
}

a {
	font-size: 1rem;
}

a:visited {
	text-decoration: none;
}

a:link {
	text-decoration: none;
}

p {
	font-size: 1rem;
	color: #222222;
	text-align: center;
	margin: 1rem;
}

h1 {
	font-size: 2.5rem;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #1E426E
}

h2 {
	font-size: 2rem;
	color: #222222;
	margin-bottom: 1rem;
	margin-top: 2rem;
	font-weight: bold;
}

h3 {
	font-size: 1.2rem;
}

/* Mobile View */

.banner {
	width: auto;
	height: auto;
	background-image: url("/img/banner-wind-compressed.jpg");
	background-color: #fff;
	min-height: 8rem;
	top: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.banner2 {
	width: auto;
	height: auto;
	background-image: url("/img/banner-community.jpg");
	background-color: #fff;
	min-height: 8rem;
	top: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.banner3 {
	width: auto;
	height: auto;
	background-image: url("/img/building-stronger-compressed.jpg");
	background-color: #fff;
	min-height: 20rem;
	top: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 2rem;
}



footer {
	background-color: #E8F4F9;
	color: #222222;
	text-align: left;
}

footer>p {
	text-align: left;
	margin: 0rem;
	margin-left: 2rem;
	padding-top: 1rem;
	font-size: 1.2rem;
}

.footer-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 1rem 2rem 1rem 2rem;
}

.footer-container>a {
	font-size: 1.2rem;
	color: #1E426E;
	text-decoration: none;
	font-weight: bold;
}

.footer-container>a:visited {
	color: #1E426E;
	text-decoration: none;
}

.footer-container>a:hover {
	color: #789F4D;
	text-decoration: none;
}

h2 {
	text-align: center;
}

main {
	margin: auto;
	max-width: 1280px;
}

nav {
	background-color: #1E426E;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}

nav>ul {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	list-style-position: inside;
}

ul {
	list-style-position: inside;
	margin: 0;
	padding: 0;
}

ul>li {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
}

nav>ul>li {
	border-left: 1px solid;
	border-right: 1px solid;
	height: 5rem;
	width: calc(100% / 2 - 0.5rem);
}

nav>ul>li:hover {
	background-color: #789F4D;
}

ul>li>a:visited {
	color: #fff;
	text-decoration: none;
}

ul>li>a:link {
	color: #fff;
	text-decoration: none;
}

ul>li>a:active {
	color: #fff;
	text-decoration: none;
}

header>div>ul {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	list-style-position: inside;
}

header>div>ul>li {
	color: #1E426E;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	padding: 0 1rem 0 1rem;
}


header>div>ul>li>a:visited {
	color: #1E426E;
	text-decoration: none;
}

header>div>ul>li>a:hover {
	color: #789F4D;
	text-decoration: none;
}

header>div>ul>li>a:link {
	color: #1E426E;
	text-decoration: none;
}

.flex-container {
	background-color: #E8F4F9;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 1rem;
}

.flex-container>a {
	background-color: #fff;
	border: 1px solid;
	border-color: #E2E2E2;
	width: calc(100% / 2 - 0.5rem);
	text-align: center;
	padding: .5rem 1rem .5rem 1rem;
	color: #1E426E;
}

.flex-container>a:nth-child(n+3) {
	margin-top: 1rem;
}

.flex-container>a:visited {
	text-decoration: none;
	color: #1E426E;
}

.flex-container>a:link {
	text-decoration: none;
	color: #1E426E;
}

.flex-container>a:hover {
	background-color: #2A5EA5;
	color: #fff;
}

.data-chart {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 1rem 1rem 1rem;
}

.data-chart>section {
	width: calc(100% / 2 - 0.5rem);
}

.pi-chart {
	display: flex;
	align-items: center;
}

.chart>p {
	margin: 0;
	text-align: left;
	text-transform: uppercase;
	font-weight: bold;
	color: #666666;
	font-size: .8rem;
}

.button {
	background-color: #1E426E;
	width: 90%;
	text-align: center;
	margin: auto;
	margin-bottom: 1rem;
	padding: .5rem 1rem .5rem 1rem;
	font-size: 1.25rem;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

.button:hover {
	background-color: #E8F4F9;
	color: #1E426E;
	border: 1px solid;
	border-color: #1E426E;
}

/* bar chart source: https://codepen.io/dwendlingRHS/pen/JNqQLx*/
.chart>div {
	font: 12px sans-serif;
	text-align: right;
	padding: 3px;
	margin: 1px;
	height: 1rem;
	color: white;
}

.chart>div:nth-child(2) {
	background-color: #77A04D;
}

.chart>div:nth-child(4) {
	background-color: #12273E;
}

.chart>div:nth-child(6) {
	background-color: #666666;
}

.chart>div:nth-child(8) {
	background-color: #2A5FA5;
}

.chart>div:nth-child(10) {
	background-color: #ECD368;
}

.chart>div:nth-child(12) {
	background-color: #1E426E;
}

.community>p,
.community>h3 {
	margin: 2rem;
	text-align: left;
}

.tile {
	display: flex;
	flex-flow: column;
	background-color: #1E426E;
	color: #fff;
	margin: 2rem;
}

.tile>* {
	min-width: 50%;
}

.tile>img {
	height: 13rem;
}

.description {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem;
}

.tile>a:visited {
	color: #fff;
}

.tile>a:hover {
	background-color: #2A5FA5;
}

.banner3>section {
	background-color: rgba(255, 255, 255, .8);
	padding: 1rem;
	max-height: 25rem;
}

.banner3>section>h2 {
	line-height: 2rem;
}

.banner3>section>p {
	text-align: left;
	line-height: 1.2rem;
}

.banner3>section>a {
	padding-left: 1rem;
	padding-bottom: 1rem;
	color: #2A5FA5;
}

.banner3>section>a:hover {
	color: #77A04D;
}

/* Medium View */

@media screen and (min-width: 800px) {
	header {
		margin-bottom: 1rem;
	}

	.banner,
	.banner2 {
		min-height: 12rem;
	}

	nav>ul {
		display: flex;
		justify-content: space-between;
	}

	nav>ul>li {
		border-left: 1px solid;
		border-right: 1px solid;
		height: 3rem;
	}

	header>div {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	header>div>ul {
		margin-right: 2rem;
	}

	header>div>ul>li>a {
		font-size: 1.2rem;
	}

	h1 {
		margin-left: 2rem;
	}

	.wide-flex {
		display: flex;
		padding: 1rem;
	}

	.flex-container {
		background-color: #E8F4F9;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0 1rem 1rem 1rem;
	}

	.flex-container>a {
		background-color: #fff;
		border: 1px solid;
		border-color: #E2E2E2;
		width: calc(100% / 3 - 0.5rem);
		text-align: center;
		padding: .5rem 1rem .5rem 1rem;
		color: #1E426E;
		margin-top: 1rem;
	}

	.energy-stats {
		max-width: 45%;
		border: 1px solid;
		border-color: #E8F4F9;
		margin-right: 1rem;
	}

	.facts {
		background-color: #F5F5F5;
		border: 1px solid;
		border-color: #E8F4F9;
		padding: 1rem;
	}

	.chart {
		margin-left: 2rem;
	}

	footer {
		display: flex;
		justify-content: space-between;
	}

	.footer-container>a {
		margin-left: 1rem;
	}

	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.tile {
		width: calc(100% / 3 - 0.5rem);
		margin: 0;
		flex-flow: column-reverse;
	}

	.tile>img {
		height: 10rem;
	}

	.banner3 {
		display: flex;
		flex-flow: row-reverse;
	}

	.banner3>section {
		max-width: 40rem;
		min-height: 20rem;
	}
}

/* Largest View */

@media screen and (min-width: 1280px) {
	nav {
		justify-content: flex-end;
		margin: 0 auto;
	}

	nav>ul {
		position: relative;
		right: 17%;
	}

	header>div {
		max-width: 1280px;
		margin: 1rem auto;
	}

	.banner,
	.banner2 {
		min-height: 25rem;
	}

	.flex-container>a {
		background-color: #fff;
		border: 1px solid;
		border-color: #E2E2E2;
		width: calc(100% / 6 - 0.5rem);
		text-align: center;
		padding: .5rem 1rem .5rem 1rem;
		color: #1E426E;
		margin: 1rem auto;
	}

	.wide-flex {
		display: flex;
		max-width: 100em;
	}

	.energy-stats {
		max-width: 55%;
	}

	footer {
		margin: 0 auto;
	}

	footer>div {
		position: relative;
		right: 16%;
	}

	footer>p {
		position: relative;
		left: 16%;
	}

	.tile>img {
		height: 14rem;
	}

	.banner3>section {
		position: relative;
		right: 16%;
	}
}